附件是随机五个历史股票因子数据和历史行情，里面包含train数据（2019-2021）和test数据（2022），请利用这些数据实现一个您认为最好的量化策略。

引导：
1，组合因子（利用train数据建模型）
2，生成选股策略

提交：
1，收益曲线图（train收益图和test收益图）
2，python代码
3，描述策略效果和模型选择的思路

策略的指标包括年化收益、收益的波动性、最大回撤。
同学可以增加自己因子来增加策略收益和稳定性。
